body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.header,
.hero,
.footer {
    background-color: #1f2937;  
    color: #f9faf8;
}
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    padding: 10px 300px;
}
.header-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 10px;
    font-weight: normal;
}
.hlink {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
/* ############ */
/* Hero */

.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px 300px;
}
.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    gap: 10px;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
}

.hero-image {
    width: 400px;
    height: 200px;
    min-width: 400px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-button {
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    border: 0;
}

/* ############ */
.quote {
    background-color: #e5e7eb;
    color: #1f2937;
}